/* @font-face {
    font-family: lato;
    src: url(fonts/Lato-Regular.ttf) format("opentype");
}
@font-face {
    font-family: lato-bold;
    src: url(fonts/Lato-Bold.ttf) format("opentype");
}
@font-face {
    font-family: lato-black;
    src: url(fonts/Lato-Black.ttf) format("opentype");
} */

@font-face {
    font-family: assistant;
    src: url(fonts/Assistant-Regular.ttf) format("opentype");
}
@font-face {
    font-family: assistant-bold;
    src: url(fonts/Assistant-Bold.ttf) format("opentype");
}
@font-face {
    font-family: assistant-extrabold;
    src: url(fonts/Assistant-ExtraBold.ttf) format("opentype");
}

html, body{
    font-family: assistant;
    overflow: auto;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #a14c84;
    width: 100%;
}

.landing-page{
    height: 100vh;
    width: 100%;
    /* width: 100vw; */
    background-color: #852c6a;
    /* background-color: #35289b; */
    /* background-size: cover; */
    background-size: auto 100%;
    background-position:center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;

}
@media screen and (min-width: 768px){
    .landing-page{
        background-image: url("assets/background_wide.png");
    }
    .desktop-bar{
        display: flex;
    }
    .mobile-bar{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .landing-page{
        background-image: url("assets/background_mobile.png");
    }
    .desktop-bar{
        display: none;
    }
    .mobile-bar{
        display: flex;
    }
}

.top-bar{
    width: 80%;
    height: 10vh;
    padding-left: 10%;
    padding-right: 10%;
    color: #d4d2de;
    display: flex;
    backdrop-filter: brightness(0.9);
}
.logo, .navigation{
    flex: 50%;
    width: 50%;
}

.top-bar .logo{
    display: flex;
    align-items: center;
}
.top-bar .logo a{
    height: 80%;
    max-width: 100%;
}
.top-bar .logo a img{
    height: 100%;
}

.navigation{
    text-align: right;
    /* display: flex; */
    justify-items: flex-end;
    justify-content: flex-end;
    align-items: center;
}
.navigation a, .navigation p{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    font-family: assistant-bold;
    cursor: pointer;
    color:#d4d2de;
    text-decoration: none;
    text-shadow: 0 0 10px #90899a, 0 0 20px #90899a;
    position: relative;
}
.navigation p{
    font-family: assistant-extrabold;
    font-size: 36px;
}
.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #d4d2de;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.2s;

    width: 80%;
    /* background-color: #2a214d; */
    /* background: rgba(39, 52, 99, 0.2); */

    height: 0;
    top: 10vh;
    /* padding: 5px; */
    box-sizing:border-box;
    border-radius: 8px;
    
}
.dropdown::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    z-index: 1;
}

.dropdown a{
    font-size: 20px;
    text-decoration: none;
    font-family: assistant-bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    z-index: 2;
}





.title-block{
    margin-top: 5vh;
    /* padding-left: 20vw;
    left: 200px; */
    width: fit-content;
    font-family: assistant-extrabold;
    color:#d4d2de;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-block .title{
    margin-bottom: 2vh;
    text-shadow: 0 0 0px #d4d2de, 0 0 30px #9e4784, 0 0 40px #9e4784, 0 0 50px #9e4784, 0 0 60px #9e4784, 0 0 70px #9e4784, 0 0 80px #9e4784;
    text-shadow: 0 0 0px #d4d2de, 0 0 50px #34336b, 0 0 60px #34336b, 0 0 70px #34336b;
}

@media screen and (min-width: 768px){
    .title-block .title{
        font-size: 120px;
    }
    .title-block .details{
        font-size: 30px;
    }
}

@media screen and (max-width: 768px){
    .title-block .title{
        font-size: 16vw;
    }
    .title-block .details{
        font-size: 6vw;
    }
}

.title-block .registration{
    margin-top: 5vh;
    /* padding-left: 5vw; */
}
/* .registration-button{
    background-color: #d4d2de;
    border: none;
    padding: 10px;
    font-size: 50px;
    color: #2a214d;
    border-radius: 4px;
    transition: background-color 1s, color 1s;
    cursor: pointer;
}
.registration-button:hover{
    background-color:#2a214d;
    color:#d4d2de;
}
.registration-button:focus, 
.registration-button:active{
    background-color: black;
    color:#d4d2de;
    transition: none;
} */

.registration-button{
    background-color: #2a214d;
    border: none; 
    padding: 10px;
    border-radius: 4px;
    font-size: 50px;
    color: #d4d2de;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-family: assistant-extrabold;
    text-decoration: none;
    /* text-shadow: 0 0 30px #66347f, 0 0 50px #66347f */
}
.registration-button::after {
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    transform: scaleX(0) translateY(-10px);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #d4d2de;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .registration-button:hover::after {
    transform: scaleX(1) translateY(-10px);
    transform-origin: bottom left;
  }

.page2{
    /* height: 150vh; */
    background-image: linear-gradient(#35289b, #37306b, rgb(0, 0, 0));
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:center;
    width: 100%;
}

#about{
    display: flex;
    margin-top: 10%;
    width: 70%;
    align-items: center;
    /* border-radius: 24px;
    background-image: linear-gradient(to right, #273463, #8B4256);
    padding: 20px; */
}

p{
    margin: 0;
}

.title{
    font-family: assistant-extrabold;
    color:#d4d2de;
}
.content{
    font-family: assistant;
    color: #d4d2de;
}

@media screen and (min-width: 768px){
    .title{
        font-size: 36px;
    }
    .content{
        font-size: 20px;
    }
    #about .title{
        font-size: 48px;
    }
    .info-box .title, .info-box-wide .title{
        font-size: 32px;
    } 
    .footnote{
        color: #d4d2de;
        font-size: 18px;
    }
    .info-column{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        margin-right: 2%;
        width: 46%;
        margin-top: 20px;
        margin-bottom: 10px;
        align-items: center;
    }
    .info-box-wide{
        margin-left: 2%;
        margin-right: 2%;
        width:calc(29% - 30px);
        /* background-color: #482763; */
    }
    .info-box{
        width: 90%;
    }
}
@media screen and (max-width: 768px){
    .title{
        font-size: 24px;
    }
    .content{
        font-size: 16px;
    }
    .info-box .title, .info-box-wide .title{
        font-size: 24px;
    } 
    .footnote{
        color: #d4d2de;
        font-size: 14px;
    }
    .info-column{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
        margin-top: 20px;
        margin-bottom: 10px;
        align-items: center;
    }
    .info-box-wide{
        margin-left: 2%;
        margin-right: 2%;
        width:calc(96% - 30px);
        /* background-color: #482763; */
    }
    .info-box{
        width: 75%
    }
    .info-box-slim{
        width: 60%;
    }
}

#about .title{
    margin-right: 5%;
    /* background: linear-gradient(to right, );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #ebb762;
}
#about .content{
    margin-left: 5%;
}

.info{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
        /* align-items: center; */
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 100px;
}
.info-box, .info-box-wide{
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    border-radius: 24px;
    background-color: #273463;
    /* position: relative; */
}

@media screen and (min-width: 768px){
    #schedule{
        font-size: 48px;
    }
    .day .title{
        font-size: 32px;
    }
}
@media screen and (max-width: 768px){
    #schedule{
        font-size: 28px;
    }
    .day .title{
        font-size: 24px;
    }
}

#schedule{
    align-self: flex-start;
    margin-left: 15%;
    margin-bottom: 45px;
}

.schedule{
    display: flex;
    justify-content: center;
    background-color: black;
    flex-wrap: wrap;
    padding-bottom: 80px;
}
.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
    /* flex: 28.3%; */
    /* width: 25%;
    margin-left: 1.65%;
    margin-right: 1.65%; */
}
.day .title{
    margin-bottom: 15px;
}
table{
    border-spacing: 0 0;
    border-collapse: separate;
    border: none;
}
.day table{
    color: #d4d2de;
    width: 100%;
    /* height: 100%; */
}

@media screen and (min-width: 1000px){
    .day{
        width: 28.3vw;
    }
    #day1{
        border-left: 4px solid #d4d2de;
        border-right: 2px solid #d4d2de;
    }
    #day2{
        border-left: 2px solid #d4d2de;
        border-right: 2px solid #d4d2de;
    }
    #day3{
        border-left: 2px solid #d4d2de;
        border-right: 4px solid #d4d2de;
    }
}
@media screen and (min-width: 768px) and (max-width: 1000px){
    .day{
        width: 42.5%;
    }
    .row1{
        margin-left: 20%;
        margin-right: 20%;
    }
    #day1{
        border-left: 4px solid #d4d2de;
        border-right: 4px solid #d4d2de;
    }
    #day2{
        border-left: 4px solid #d4d2de;
        border-right: 2px solid #d4d2de;
    }
    #day3{
        border-left: 2px solid #d4d2de;
        border-right: 4px solid #d4d2de;
    }
}
@media screen and (max-width: 768px){
    .day{
        width: 70%;
    }
    #day1{
        border-left: 4px solid #d4d2de;
        border-right: 4px solid #d4d2de;
    }
    #day2{
        border-left: 4px solid #d4d2de;
        border-right: 4px solid #d4d2de;
    }
    #day3{
        border-left: 4px solid #d4d2de;
        border-right: 4px solid #d4d2de;
    }
}


td{
    padding: 0;
}

@media screen and (min-width: 768px){
    .time, .event{
        font-size: 20px;
    }
}
@media screen and (max-width: 768px){
    .time, .event{
        font-size: 16px;
    }
}

.time, .event{
    border: none;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    padding-top: 20px;
    padding-bottom: 20px;
}

.time{
    width: 40%;
    /* width: 50%; */
    text-align: right;
    vertical-align: top;
    word-wrap: break-word;
    padding-left: 40px;
    padding-right: 20px;
}
.event{
    width: 60%;
    padding-left: 20px;
    padding-right: 40px;
}

.page4{
    width: 100%;
    background: linear-gradient(black, #37306b, #a14c84);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sponsors{
    color: #ebb762
}
.coming-soon{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
   filter: brightness(0.5);
    width: 100%;
}

@media screen and (min-width: 768px){
    .page4 .content{
        font-size: 24px;
    }
}
@media screen and (max-width: 768px){
    .page4 .content{
        font-size: 16px;
    }
}


.page4 .content{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 125px;
    width: 80%
}

a{
    color: #d4d2de;
    text-decoration: underline;
    text-decoration-color: #ebb762;
}

#judges{
    color: #ebb762;
}

#faq{
    align-self: flex-start;
    margin-left: 15%;
    margin-bottom: 10px;
    width: 70%;
    margin-right: 15%;
    border-bottom: 4px solid #ebb762;
}

.faq{
    background-color: #a14c84;
    padding-left: 15%;
    padding-right: 15%;

    padding-bottom: 125px;

    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 768px){
    .faq{
        padding-bottom: 200px;
    }
}
@media screen and (max-width: 768px){
    .faq{
        padding-bottom: 125px;
    }
}

@keyframes turn-x{
    0%{
        transform: rotate(0deg);
        color:#d4d2de;
    }
    100%{
        transform: rotate(45deg);
        color:#ebb762;
    }
}

@keyframes turn-plus{
    0%{
        transform: rotate(45deg);
        color:#ebb762;
    }
    100%{
        transform: rotate(0deg);
        color:#d4d2de
    }
}

@keyframes show-answer{
    0%{
        height: 0px;
    }
    100%{
        height: var(--target-height);
    }
}
@keyframes hide-answer{
    0%{
        height: var(--target-height);
    }
    100%{
        height: 0px;
    }
}

.show{
    animation: show-answer 0.2s forwards;
    animation-fill-mode: forwards;
}
.hide{
    animation: hide-answer 0.2s forwards;
    animation-fill-mode: forwards;
}

.turn-x-animation::after{
    animation: turn-x 0.2s forwards;
}
.turn-plus-animation::after{
    animation: turn-plus 0.2s forwards;
}

@media screen and (min-width: 768px){
    .faq-column{
        width: 45%;
    }
    .question{
        font-size: 24px;
        padding-right: calc(5% + 20.92px);
    }
    .question::after{
        font-size: 40px;
        left: calc(100% - 29.92px);
    }
    .answer{
        font-size: 20px;
    }
}
@media screen and (max-width: 768px){
    .faq-column{
        width: 100%;
    }
    .question{
        font-size: 18px;
        padding-right: calc(5% + 18.31px);
    }
    .answer{
        font-size: 16px;
    }
    .question::after{
        font-size: 35px;
        left: calc(100% - 18.31px);
    }
}


.faq-container{
    display: flex;
    flex-direction: column;
}

.question{
    border: none;
    background: none;
    font-family: assistant-bold;
    color:#d4d2de;
    /* padding: 0; */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    text-align: left;
    width: 100%;


    margin-top: 20px;
    margin-bottom: 5px;

    cursor: pointer;
}

.question::after{
    content: "+";
    position: absolute;
    font-family: assistant-bold;
    text-align: center;
    
    /* align-self: center; */
    /* align-self: center;
    top: 50%;
    left: 50%; */
}


.answer{
    overflow: hidden;
    color: #d4d2de;
    font-family: assistant;
}

.answer img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.divider{
    width: 80%;
    border-top: 8px solid #ebb762;
    background: #a14c84;
    margin-left: 10%;
    margin-right: 10%;
}
@media screen and (min-width: 768px){
    .divider{
        height: 100px;
    }
}
@media screen and (max-width: 768px){
    .divider{
        height: 75px;
    }
}

.team{
    width: 100%;
    background: linear-gradient(#a14c84, #35289b);
    /* background: #a14c84; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 125px;
}

.team-row{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.team-member{
    margin-top: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.team-member img{
    width: 175px;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 100%;
    border: 4px solid #d4d2de;
    /* outline: 4px solid #ebb762; */
    /* outline-offset: 4px; */
    box-shadow: 0 0 0 4px #ebb762;
}

@media screen and (min-width: 768px){
    .name, .role{
        font-size: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    .name, .role{
        font-size: 16px;
        text-align: center;
    }
}

.name{
    margin-top: 10px;
    color:#d4d2de

}
.role{
    margin-top: 5px;
    color:#ebb762
}

#back-to-top{
    display: none;
    position: fixed;
    left: calc(95% - 73.36px);
    top: calc(95% - 56px);
    padding: 10px;
    border: none;
    border-radius: 8px;
    filter:opacity(0.5);
    z-index: 1;
}
/* #back-to-top::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.062);
    pointer-events: none;
    z-index: 1;
} */
@media screen and (min-width: 768px){
    #back-to-top p{
        color: #35289b;
        font-size: 16px;
        z-index: 2;
    }
}
@media screen and (max-width: 768px){
    #back-to-top p{
        color: #35289b;
        font-size: 12px;
        z-index: 2;
    }
}
